<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xe.demo.mapper.ActivityMapper" >
  <resultMap id="BaseResultMap" type="com.xe.demo.model.Activity" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="activityid" property="activityid" jdbcType="VARCHAR" />
    <result column="activityname" property="activityname" jdbcType="VARCHAR" />
    <result column="activitysdate" property="activitysdate" jdbcType="VARCHAR" />
    <result column="activityedate" property="activityedate" jdbcType="VARCHAR" />
    <result column="activityaddr" property="activityaddr" jdbcType="VARCHAR" />
    <result column="latitude" property="latitude" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="VARCHAR" />
    <result column="activityimg" property="activityimg" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="activityprice" property="activityprice" jdbcType="DECIMAL" />
    <result column="activityidmemo" property="activityidmemo" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.xe.demo.model.Activity" extends="BaseResultMap" >
    <result column="activityidcontent" property="activityidcontent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, activityid, activityname, activitysdate, activityedate, activityaddr, latitude,
    longitude, activityimg, createtime, state, activityprice, activityidmemo
  </sql>
  <sql id="Blob_Column_List" >
    activityidcontent
  </sql>
  <!--<select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from activity
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from activity
    where id = #{id,jdbcType=VARCHAR}
  </delete>-->
 <!-- <insert id="insert" parameterType="com.xe.demo.model.Activity" >
    insert into activity (id, activityid, activityname,
    activitysdate, activityedate, activityaddr,
    latitude, longitude, activityimg,
    createtime, state, activityprice,
    activityidmemo, activityidcontent)
    values (#{id,jdbcType=VARCHAR}, #{activityid,jdbcType=VARCHAR}, #{activityname,jdbcType=VARCHAR},
    #{activitysdate,jdbcType=VARCHAR}, #{activityedate,jdbcType=VARCHAR}, #{activityaddr,jdbcType=VARCHAR},
    #{latitude,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR}, #{activityimg,jdbcType=VARCHAR},
    #{createtime,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{activityprice,jdbcType=DECIMAL},
    #{activityidmemo,jdbcType=VARCHAR}, #{activityidcontent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xe.demo.model.Activity" >
    insert into activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="activityid != null" >
        activityid,
      </if>
      <if test="activityname != null" >
        activityname,
      </if>
      <if test="activitysdate != null" >
        activitysdate,
      </if>
      <if test="activityedate != null" >
        activityedate,
      </if>
      <if test="activityaddr != null" >
        activityaddr,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="activityimg != null" >
        activityimg,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="activityprice != null" >
        activityprice,
      </if>
      <if test="activityidmemo != null" >
        activityidmemo,
      </if>
      <if test="activityidcontent != null" >
        activityidcontent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="activityid != null" >
        #{activityid,jdbcType=VARCHAR},
      </if>
      <if test="activityname != null" >
        #{activityname,jdbcType=VARCHAR},
      </if>
      <if test="activitysdate != null" >
        #{activitysdate,jdbcType=VARCHAR},
      </if>
      <if test="activityedate != null" >
        #{activityedate,jdbcType=VARCHAR},
      </if>
      <if test="activityaddr != null" >
        #{activityaddr,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="activityimg != null" >
        #{activityimg,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="activityprice != null" >
        #{activityprice,jdbcType=DECIMAL},
      </if>
      <if test="activityidmemo != null" >
        #{activityidmemo,jdbcType=VARCHAR},
      </if>
      <if test="activityidcontent != null" >
        #{activityidcontent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xe.demo.model.Activity" >
    update activity
    <set >
      <if test="activityid != null" >
        activityid = #{activityid,jdbcType=VARCHAR},
      </if>
      <if test="activityname != null" >
        activityname = #{activityname,jdbcType=VARCHAR},
      </if>
      <if test="activitysdate != null" >
        activitysdate = #{activitysdate,jdbcType=VARCHAR},
      </if>
      <if test="activityedate != null" >
        activityedate = #{activityedate,jdbcType=VARCHAR},
      </if>
      <if test="activityaddr != null" >
        activityaddr = #{activityaddr,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="activityimg != null" >
        activityimg = #{activityimg,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="activityprice != null" >
        activityprice = #{activityprice,jdbcType=DECIMAL},
      </if>
      <if test="activityidmemo != null" >
        activityidmemo = #{activityidmemo,jdbcType=VARCHAR},
      </if>
      <if test="activityidcontent != null" >
        activityidcontent = #{activityidcontent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xe.demo.model.Activity" >
    update activity
    set activityid = #{activityid,jdbcType=VARCHAR},
    activityname = #{activityname,jdbcType=VARCHAR},
    activitysdate = #{activitysdate,jdbcType=VARCHAR},
    activityedate = #{activityedate,jdbcType=VARCHAR},
    activityaddr = #{activityaddr,jdbcType=VARCHAR},
    latitude = #{latitude,jdbcType=VARCHAR},
    longitude = #{longitude,jdbcType=VARCHAR},
    activityimg = #{activityimg,jdbcType=VARCHAR},
    createtime = #{createtime,jdbcType=VARCHAR},
    state = #{state,jdbcType=VARCHAR},
    activityprice = #{activityprice,jdbcType=DECIMAL},
    activityidmemo = #{activityidmemo,jdbcType=VARCHAR},
    activityidcontent = #{activityidcontent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xe.demo.model.Activity" >
    update activity
    set activityid = #{activityid,jdbcType=VARCHAR},
    activityname = #{activityname,jdbcType=VARCHAR},
    activitysdate = #{activitysdate,jdbcType=VARCHAR},
    activityedate = #{activityedate,jdbcType=VARCHAR},
    activityaddr = #{activityaddr,jdbcType=VARCHAR},
    latitude = #{latitude,jdbcType=VARCHAR},
    longitude = #{longitude,jdbcType=VARCHAR},
    activityimg = #{activityimg,jdbcType=VARCHAR},
    createtime = #{createtime,jdbcType=VARCHAR},
    state = #{state,jdbcType=VARCHAR},
    activityprice = #{activityprice,jdbcType=DECIMAL},
    activityidmemo = #{activityidmemo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>-->

  <select id="queryListOneMonth" resultMap="BaseResultMap">
    <![CDATA[   SELECT * FROM activity where DATE_SUB(CURDATE(), INTERVAL 30 DAY) <= createtime ]]>

    <if test="null != activity.activityname"> and activityname  like CONCAT('%',#{activity.activityname},'%') </if>
    <if test="activity.state != null" >
    and  state = #{activity.state}
    </if>
    order by createtime desc
  </select>

  <select id="queryListTwoMonth" resultMap="BaseResultMap" >
    <![CDATA[   SELECT * FROM activity where DATE_SUB(CURDATE(), INTERVAL 60 DAY) <= createtime ]]>
    <if test="null != activity.activityname"> and activityname  like CONCAT('%',#{activity.activityname},'%') </if>
    <if test="activity.state != null" >
      and  state = #{activity.state}
    </if>
    order by createtime desc
  </select>

  <select id="queryList" resultMap="BaseResultMap">
    select * from activity where 1=1
    <if test="null != activity.activityname"> and activityname  like CONCAT('%',#{activity.activityname},'%') </if>
    <if test="activity.state != null" >
      and  state = #{activity.state}
    </if>
    order by createtime desc
  </select>


  <select id="queryListStarting" resultMap="BaseResultMap">
    select * from activity where 1=1 and
    <if test="null != activity.activityname"> and activityname  like CONCAT('%',#{activity.activityname},'%') </if>
    <if test="activity.state != null" >
      and  state = #{activity.state}
    </if>
    order by createtime desc
  </select>


  <select id="getUserByActivtiyId" resultType="com.xe.demo.model.Member">
select a.* from member a INNER join (
select userid from memberviewactivity where activityid=#{id}
) b on a.id=b.userid
  </select>


</mapper>
