<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xe.demo.mapper.IndustryMapper" >
  <resultMap id="BaseResultMap" type="com.xe.demo.model.Industry" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="industryname" property="industryname" jdbcType="VARCHAR" />
    <result column="creat_time" property="creat_time" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="queryList" resultMap="BaseResultMap" parameterType="com.xe.demo.model.Industry">
    select id, industryname, DATE_FORMAT(ind.creat_time, '%Y-%m-%d %H:%i:%s') creat_time  from industry ind
    WHERE  1=1
    <if test="null != industryname"> and industryname like CONCAT('%',#{industryname},'%')</if>
    order by creat_time desc
  </select>


  <select id="queryOne" resultMap="BaseResultMap" >
    select  *  from industry ind
    where  ind.id=#{id}
  </select>

  <update id="update" parameterType="com.xe.demo.model.Industry" >
    update industry
    <set >
      <if test="industryname != null" >
        industryname = #{industryname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>