<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xe.demo.mapper.UserCollecTiondyMapper" >
  <resultMap id="BaseResultMap" type="com.xe.demo.model.UserCollecTiondy" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="dynamicwzid" property="dynamicwzid" jdbcType="INTEGER" />
  </resultMap>



  <!--关注动态的用户-->
  <select id="querycollecmycontent" resultType="hashmap">
    select  uy.dynamicwzid ,
    mber.id,mber.`name` ,mber.headimg
    from usercollectiondy uy ,member mber
    where uy.userid=mber.id
    AND    uy.dynamicwzid=#{dynamicwzid}
    order by uy.id desc  LIMIT 0,6

  </select>




</mapper>