<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xe.demo.mapper.UserTagMapper" >
  <resultMap id="BaseResultMap" type="com.xe.demo.model.UserTag" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="tag_id" property="tag_id" jdbcType="INTEGER" />
  </resultMap>

</mapper>